	body {
	   background-size: cover;
	   margin-bottom: -20px;
	   background-attachment: fixed;

	}
	.bob {
	   background: #FFFFFF;
	   opacity: 0.95;
	   margin-right: 15%;
	   margin-left: 15%;
	   margin-top: 5%;
	   padding-left: 3%;
	   padding-right: 3%;
	   padding-top: 1%;
	   padding-bottom: 3%;
	   border-style: solid;
	   border-color: #E0E0E0a2;
	   border-width: 8px;
	   box-shadow: 0px 0px 15px 8px white;
	   animation:downing 3s;
	}
	
	nav {
	   background: linear-gradient(to bottom, snow, #9D9D9D);
	   margin-left: -0.6%;
	   margin-right: -0.5%;
	   margin-top: -1.5%;
	   margin-bottom: 2%;
	   padding-top: 1%;
	   box-shadow: 0px 0px 15px 8px black;
	}
	footer {
	   background: linear-gradient(to top, snow, #9D9D9D);
	   box-shadow: 0px 0px 15px 8px black;
	   margin-right: -0.5%;
	   margin-left: -0.6%;
	   margin-top: 4%;
	   padding-top: 3%;
	   padding-bottom: 4%;
	   text-align: center;
	   font-size: 16px;
	   font-style: italic;
	   font-weight: bold;
	}
		.totheo {
	   position: fixed;
	   right: 20px;
	   top: 62%;
	   animation:car 2s;
	}
	.totheoII {
	   position: fixed;
	   right: 20px;
	   top: 70%;
	   animation:car 3s;
	}
		.up {
	   display: none;
	   background: #3C3C3C;
	   position: fixed;
	   right: 60px;
	   top: 70%;
	   border: 2px solid white;
	}
	.upt {
	   width: 100%;
	   padding-left: 20px;
	   padding-right: 20px;
	   padding-top: 1%;
	   padding-bottom: 1%;
	   text-align: content;
	   border-top: 2px solid #272727;
	}
	h1 {
	   color: black;
	   text-shadow: 3px 3px 3px #ECECFF;
	   font-family: KouzanMouhituFontOTF;
	   font-size: 72px;
	   padding-left: 60px;
	   margin-top:25px;
	   animation:nave1 3s,nave2 3s 3s;
	   letter-spacing: 3px;

	}
	h2
	{
	color: black;
	   text-shadow: 2px 2px 3px #ECECFF;
	   font-family: KouzanMouhituFontOTF;
	   font-size: 55px;
	   padding-left: 125px;
	   margin-top:-70px;
	   animation:nave1 3s,nave2 3s 3s;
	   letter-spacing: 6px;
	}
	.h22
	{
	color: black;
	   text-shadow: 2px 2px 3px #ECECFF;
	   font-family: KouzanMouhituFontOTF;
	   font-size: 18px;
	   padding-left: 135px;
	   margin-top:-50px;
	   animation:nave1 3s,nave2 3s 3s;
	   letter-spacing: 3px;
	}
	.h23
	{
	color: black;
	   text-shadow: 2px 2px 3px #ECECFF;
	   font-family: KouzanMouhituFontOTF;
	   font-size: 22px;
	   padding-left: 50px;
	   margin-top:-10px;
	   margin-bottom:0px;
	   animation:nave1 3s,nave2 3s 3s;
	   letter-spacing: 6px;
	}
	.ol
	{
	position:absolute;
	width:180px;
	opacity:0.1;
	left:20px;
	top:2%;
	}
	@font-face {
	   font-family: KouzanMouhituFontOTF;
	   src: url("../font/KouzanMouhituFontOTF.otf");
	}
		@font-face {
	   font-family: Mamelon;
	   src: url("../font/Mamelon.otf");
	}
		.topa {
	   font-size: 28px;
	   color: black;
	   font-family: KouzanMouhituFontOTF;
	   animation:nave1 3s,nave2 3s 3s;
	}
	.topa:hover {
	   color: #84C1FF;
	   font-size: 36px;
	}
		a {
	   font-size: 22px;
	   font-weight: bolder;
	   text-decoration: none;
	   color: snow;
	}
	.into {
	   width: 36px;
	}
		topi:hover {
	   visibility: visible;
	}
	@keyframes downing
{
 from 
 {
 color:rgba(255, 0, 0, 0);
 background:rgba(255, 0, 0, 0);
 border-style: solid;
 border-color: rgba(255, 0, 0, 0);
	box-shadow: 0px 0px 15px 8px rgba(255, 0, 0, 0);
	margin-top:-50px;
 }
 to { }
 } 
 
 @keyframes downingimg
 {
  from 
 {
 opacity: 0.1;
 margin-top:-50px;
 }
 to {}
 }
 
  @keyframes car
 {
  from {
 top:0;
 }
 to {}
 }
 
   @keyframes nave1
 {
  from 
 {
	color:rgba(255, 0, 0, 0);
	text-shadow: 2px 2px 3px rgba(255, 0, 0, 0);
 }
 to {color:rgba(255, 0, 0, 0);
 text-shadow: 2px 2px 3px rgba(255, 0, 0, 0);
 }
 }
 
    @keyframes nave2
 {
  from 
 {
 color:rgba(255, 0, 0, 0);
 text-shadow: 2px 2px 3px rgba(255, 0, 0, 0);
 }
 to {}
 }
 img
 {
 animation:downingimg 3s;
 }
 .titleII{
padding-top: 15px;
margin-top: 5px;
font-size: 48px;
font-weight: bolder;
font-family: KouzanMouhituFontOTF;
}
p {
	animation:nave1 3s,nave2 3s 3s;
	font-size: 16px;
}