p
{
font-size:18px;
line-height: 1.5em;
letter-spacing:2px;
font-family:"微軟正黑體";
}
.text_style
{
font-size:18px;
line-height: 1.5em;
font-family:"微軟正黑體";
}
iframe
{
margin-left:25%;
}	
.photo_style{
width:42%;
height:auto;
transform:rotate(90deg);
float:right;
margin-top:10px; 
}	
	blockquote
	{
	line-height: 1.5em;
	letter-spacing:2px;
	animation:nave1 3s,nave2 3s 3s;
	font-size:18px;
	font-family:"微軟正黑體";
	}
	.ima
	{
	margin:0px 10%;
	width:80%;
	}
