	.col1
	{
	border: 30px solid transparent;
	border-image: url("../image/border.png") 40% round;
	background-image:url('../image/what1.png');
	background-size: cover;
	font-family:KouzanMouhituFontOTF;
	font-size:72px;
	color:rgba(255, 0, 0, 0);
	padding-top:80px;
	padding-bottom:80px;
	background-position:center;
	}
	.col1:hover
	{
	background-image:url('');
	background-color: #E6E6FA;
	color:black;
	}
	.col2
	{
	border: 30px solid transparent;
	border-image: url("../image/border.png") 40% round;
	background-image:url('../image/what2.jpg');
	background-size: cover;
	font-family:KouzanMouhituFontOTF;
	font-size:72px;
	color:rgba(255, 0, 0, 0);
	padding-top:80px;
	padding-bottom:80px;
	background-position:center;
	}
	.col2:hover
	{
	background-image:url('');
	background-color: #E6E6FA;
	color:black;
	}
	.col3
	{
	border: 30px solid transparent;
	border-image: url("../image/border.png") 40% round;
	background-image:url('../image/what3.jpg');
	background-size: cover;
	font-family:KouzanMouhituFontOTF;
	font-size:72px;
	color:rgba(255, 0, 0, 0);
	padding-top:80px;
	padding-bottom:80px;
	background-position:center;
	}
	.col3:hover
	{
	background-image:url('');
	background-color: #E6E6FA;
	color:black;
	}
	.col4
	{
	border: 30px solid transparent;
	border-image: url("../image/border.png") 40% round;
	background-image:url('../image/what4.png');
	background-size: cover;
	font-family:KouzanMouhituFontOTF;
	font-size:72px;
	color:rgba(255, 0, 0, 0);
	padding-top:80px;
	background-position:center;
	padding-bottom:80px;
	}
	.col4:hover
	{
	background-image:url('');
	background-color: #E6E6FA;
	color:black;
	}
	.col5
	{
	border: 30px solid transparent;
	border-image: url("../image/border.png") 40% round;
	background-image:url('../image/what5.png');
	background-size: cover;
	font-family:KouzanMouhituFontOTF;
	font-size:72px;
	color:rgba(255, 0, 0, 0);
	padding-top:80px;
	padding-bottom:80px;
	background-position:center;
	}
	.col5:hover
	{
	background-image:url('');
	background-color: #E6E6FA;
	color:black;
	}
	.col6
	{
	border: 30px solid transparent;
	border-image: url("../image/border.png") 40% round;
	background-image:url('../image/what6.jpg');
	background-size: cover;
	font-family:KouzanMouhituFontOTF;
	background-position:center;
	font-size:72px;
	color:rgba(255, 0, 0, 0);
	padding-top:80px;
	padding-bottom:80px;
	}
	.col6:hover
	{
	background-image:url('');
	background-color: #E6E6FA;
	color:black;
	}
	.img
	{
	width:300px;
	height:300px;
	}
	.say
	{
	position: fixed;
	top: 72%;
	left:12%;
	}
	.sayer
	{
	width:150px;
	height:150px;
	float:left;
	border:5px solid #0F5A6Dd5;
	box-shadow: 0px 0px 15px 3px snow;
	
	}
	.pop
	{
	position: fixed;
	top: 72%;
	left:24%;
	width:60%;
	height:20%;
	background-color: #4682B4;
	color:white;
	border-radius:20px 20px;
	padding:8px 10px;
	box-shadow: 0px 0px 15px 3px snow;
	display:none;
	}
	.ta
	{
	display:none;
	font-family:"微軟正黑體";
	}
	h3
{
margin-top:3px;
margin-left:6px;
}
.t
{
	line-height: 1.2em;
	letter-spacing: 2px;　
	font-family:"微軟正黑體";
	margin-top:-13px;
}